html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: arial, sans-serif;
    overflow: hidden;
}

li {
    list-style-type: none;
}

header {
    height: 100%;
    z-index: 6000;

    border-bottom: solid #555 1px;

    background: #70CBEF; /* old browsers */
background: -moz-linear-gradient(top, #70CBEF 0%, #2cafe3 71%, #00A2E2 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70CBEF), color-stop(71%,#2cafe3), color-stop(100%,#00A2E2)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70CBEF', endColorstr='#00A2E2',GradientType=0 ); /* ie */

}

.left-content {
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #eee;
    font-size: 10pt;
    line-height: 14px;
}

header h1 {
    font-size: 140%;
    padding: 8px;
    padding-left: 20px;

}



.h-splitter {
    height: 10px;
    background-color: #aaa;
    cursor: row-resize;
}

.v-splitter {
    background-color: #aaa;
    cursor: col-resize;
}

.compiled-cljs-output {
    height: 100%;
}
